DATABASE_URL=postgresql://user:password@localhost:5432/your-db-name
TEST_DATABASE_URL=postgresql://user:password@localhost:5432/your-test-db-name
PINECONE_API_KEY=your-pinecone-api-key
PINECONE_INDEX_NAME=your-index-name
ANTHROPIC_API_KEY=your-anthropic-api-key
SECRET_KEY=your-secret-key
