# Virtual environment
venv/

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
htmlcov/
.coverage

# IDE
.vscode/
.idea/

# Docker
*.log
